@model QuartzSpike.ViewModels.HomeViewModel

<!DOCTYPE html>

<html>
	<head>
		<title>Quartz spike</title>
	</head>
	<body>
		<div>
			<h1>Quartz spike</h1>		  
			<h3>@Model.FileContent</h3>
		</div>
	</body>
</html>